body{background-color: #750000;    
}
span{
     text-align: center;    
}
h1 {
    font-size: 48px;
    text-align: center;;
    color: #ffe4b0;
}
h2{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    color:#ecb251    
}

h3{
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    color:#ecb251 

}

div{
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#dedede
}

  
